@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.st0 {
  opacity:0.5;
  fill: #6DCFF6;
}

	.st1 {
    opacity:0.5;
  }

	.st2 {
    fill: #00AEEF;
    stroke: #00AEEF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

	.st3 {
    fill: none;
    stroke: #00AEEF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

	.st4 {
    fill: #FFFFFF;
  }

	.st5 {
    font-family: 'MyriadPro-Regular';
  }

	.st6 {
    font-size: 75.4976px;
  }
